requests
fastapi
uvicorn
opentelemetry-sdk
opentelemetry-distro==0.43b0
opentelemetry-instrumentation
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-grpc==1.12.0
opentelemetry-instrumentation-aws-lambda==0.43b0
opentelemetry-instrumentation-dbapi==0.43b0
opentelemetry-instrumentation-logging==0.43b0
opentelemetry-instrumentation-sqlite3==0.43b0
opentelemetry-instrumentation-urllib==0.43b0
opentelemetry-instrumentation-wsgi==0.43b0
opentelemetry-instrumentation-grpc==0.43b0
opentelemetry-instrumentation-jinja2==0.43b0
opentelemetry-instrumentation-requests==0.43b0
opentelemetry-instrumentation-urllib3==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
